<main class="container">
  <div class="row">
     <div class="col-md-12" style="position: relative;">
        <div class="panel panel-default" id="ack">
            <div class="panel-heading" id="ackheading"></div>
            <div class="panel-body" id="ackbody"></div>
        </div>
     </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Add Account</h2>
            <p>Enter your account information and click 'Add Account'</p>
            <p>If any red exclamation marks appear after clicking 'Add Account', hover over them to see the error message.</p>
        </div>
    </div>
      <form>
        <div class="row">    
            <div class="col-md-6">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" name="name" value="Shaper Enterprises">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Address:</label>
              <input type="text" class="form-control" name="address" id="address" value="123 somewhere">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" class="form-control" name="city" id="city" value="anyplace">
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group">
              <label for="state">State:</label>
              <input type="text" class="form-control" name="state" id="state" value="MI">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="zip">Zip:</label>
              <input type="text" class="form-control" name="zip" id="zip" value="12345">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="button" name="addaccount" id="addaccount" class="btn btn-primary" value="Add Account" />
            </div>
          </div>
        </div>
      </form>
      
</main>
 