<main class="container" id="deletecontacts">
  <div class="row">
     <div class="col-md-12" style="position: relative;">
        <div class="panel panel-default" id="ack">
            <div class="panel-heading" id="ackheading"></div>
            <div class="panel-body" id="ackbody"></div>
        </div>
     </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Delete Contact</h2>
            <p>Click on the delete button attached to the contact you want to delete</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="contacttable">
        
      </div>
    </div>
    
</main>
