<main class="container">
    <div class="row">
        <div class="col-md-12" style="position: relative;">
            <div class="panel panel-default" id="ack">
                <div class="panel-heading" id="ackheading"></div>
                <div class="panel-body" id="ackbody"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Welcome to the home page</h2>
            <h3>Hours Worked By Week</h3>
            <canvas id="graph"></canvas>
            <!-- <p>Select and account name.</p>
            <p>I need to get the account info and display a button for any job, contacts,</p>
            <div id="accountlist"></div> -->
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6" id="account">
            
        </div>
    </div> -->


</main>