<main class="container">
 <div class="row">
     <div class="col-md-12" style="position: relative;">
        <div class="panel panel-default" id="ack">
            <div class="panel-heading" id="ackheading"></div>
            <div class="panel-body" id="ackbody"></div>
        </div>
        <h2>Login</h2>
        <p>Enter your login information and click "login"</p>
     </div>
 </div>
 
 <form>
     <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email" value="sshaper@test.com">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" value="password">
            </div>        
        </div>
    </div>
    <input type="button" class="btn btn-primary" name="login" id="login" value="Login">
 </form>   
</main>