<main class="container" id="viewassetaccountlist">
  <div class="row">
     <div class="col-md-12" style="position: relative;">
        <div class="panel panel-default" id="ack">
            <div class="panel-heading" id="ackheading"></div>
            <div class="panel-body" id="ackbody"></div>
        </div>
     </div>
  </div>
    <div class="row">
        <div class="col-md-6">
            <h2>View Delete Assets</h2>
            <p>Please select an account name.</p>
            <div id="accountlist"></div>
              
         </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="viewdelassetstable"></div>
        </div>
    </div>

</main>
