* {margin: 0; padding: 0;}
main {display: block;}
body {font: 100%/1.5 sans-serif;}

#wrapper {width: 1024px; margin: 0 auto; border:}

address{font-style: normal;}

header{background: rgb(54, 147, 78); padding: 10px; position: relative; border-bottom: 6px solid black; height: 100px;}
header #logo{height: 120px;width: 120px; background: url(../../public/images/sewhitelogo300x320.png)no-repeat; background-size: 120px}
header #se{position: absolute; top: 10px; left: 150px}
header h2{font-size:1.8em}

header #billto {position: absolute; top: 10px; right: 20px;}

main table{
    width: 100%;
    border-collapse: collapse;
    /* margin: 10px 0 0 0; */
}
main table th{
    padding: 5px;
    background: #ddd
}

main table td {
    padding: 5px;
}

main table tbody td:nth-child(1){
    width: 10%
}

main table tbody td:nth-child(2){
    width: 60%
}
main table tbody td:nth-child(3){
    width: 10%
}
main table tbody td:nth-child(4){
    width: 10%
}
main table tbody td:nth-child(5){
    width: 10%
}

main table tfoot td:nth-child(1){
    font-weight: bold;
    text-align: right
}

main table, main table td, main table th {
    border: 1px solid black
}

